Additional requirements to consider:
------------------------------------
- [NEW_REQ_1]	Have a FIFO queue for task activation rather than stick on the task table (single activation for each task)
- [NEW_REQ_2]	Add OS alarms.

